# Configuration
VITE_UDDOKTAPAY_API_KEY=
VITE_UDDOKTAPAY_API_URL=https://sandbox.uddoktapay.com/api/checkout-v2

# Legacy SSL (Optional)
VITE_SSL_STORE_ID=
VITE_SSL_STORE_PASS=
VITE_SSL_IS_SANDBOX=true
