# Supabase Configuration
VITE_SUPABASE_URL=https://iorbjpzoncpfhzjqagxc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlvcmJqcHpvbmNwZmh6anFhZ3hjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NDk5NzksImV4cCI6MjA4OTMyNTk3OX0.RE7dfGeVlD9bpj4HsISp_hwiNFo1V5IEX8NDjOIdgf4
